

<div class="main">
    <div class="onep">
        <h1 class="oswald-a sk">
            We really appriciate you using our website.
        </h1>
        <h1 class="oswald-a sk">
            This website was made in the first of May 2024 
        </h1>
        
    </div>


    <div class="twop">
        <h1 class="sk oswald-a">Support us on other platforms:</h1>
        <div class="logos">
            <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter" style="color: #ffffff;"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
            <a href="https://facebook.com"><i class="fa-brands fa-square-facebook" style="color: #ffffff;"></i></a>
            <a href="https://youtube.com"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a>
        </div>
    </div>
</div>