<div class="ae">
    <h1 class="oswalda-aa">Welcome to StyleScape!</h1>
    <h4 class="oswalda-ass werner">At StyleScape, we believe that fashion is more than just clothing; it's a form of self-expression, an artful reflection of individuality. Our mission is to empower individuals to embrace their unique style and feel confident in every outfit they wear.</h4>
    <div class="ph">

        <img class="phe" src="https://cottonon.com/dw/image/v2/BBDS_PRD/on/demandware.static/-/Sites-catalog-master-factorie/default/dw98602b01/5299158/5299158-01-2.jpg?sw=640&sh=960&sm=fit" alt="">
        <img class="phe" src="https://factorie.com.au/dw/image/v2/BBDS_PRD/on/demandware.static/-/Sites-catalog-master-factorie/default/dw75ad7667/5299015/5299015-04-4.jpg?sw=640&sh=960&sm=fit" alt="">
        <img class="phe" src="https://cottonon.com/dw/image/v2/BBDS_PRD/on/demandware.static/-/Sites-catalog-master-factorie/default/dw39c983d5/5299062/5299062-05-2.jpg?sw=640&sh=960&sm=fit" alt="">


        <div class="phs">
            <h1 class="oswalda-a">Our Story</h1>
            <h5 class="oswalda-as asdasd">Founded in 2024, StyleScape was born out of a passion for fashion and a desire to create a shopping experience that marries style with simplicity. What started as a small idea has blossomed into a curated collection of contemporary clothing that resonates with the modern individual.</h5>
        </div>
    </div>
    <h1 class="oswalda-aa">Our Philosophy </h1>
    <h4 class="oswalda-ass werner">At the heart of StyleScape is a commitment to quality, authenticity, and sustainability. We carefully select each piece in our collection, prioritizing craftsmanship and ethical production practices. We believe that fashion should not only look good but also do good for the planet and the people who make it. </h4>
    <div class="php">
        <div class="phs">
            <h1 class="oswalda-a">Get in Touch </h1>
            <h5 class="oswalda-as asdasd">Have a question or just want to say hello? We'd love to hear from you! Contact our friendly customer service team for assistance or visit our FAQ page for answers to common inquiries. </h5>
        </div>

        <img class="phe" src="https://factorie.com.au/dw/image/v2/BBDS_PRD/on/demandware.static/-/Sites-catalog-master-factorie/default/dw11edfc94/5298285/5298285-12-4.jpg?sw=640&sh=960&sm=fit" alt="">
        <img class="phe" src="https://imageseu.urbndata.com/is/image/UrbanOutfittersEU/0216579930622_001_b?$xlarge$&fit=constrain&qlt=80&wid=640" alt="">
        <img class="phe" src="https://cottonon.com/dw/image/v2/BBDS_PRD/on/demandware.static/-/Sites-catalog-master-men/default/dwa36be77e/3612089/3612089-04-3.jpg?sw=640&sh=960&sm=fit" alt="">


    </div>
    <div class="last">
        <h1 class="oswalda-aaa">Thank you for choosing StyleScape for your fashion needs. </h1>
        <h1 class="oswalda-aaa">We can't wait to help you discover your signature style.</h1>
    </div>
</div>