.oswald-a {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 150%;
    transition: all 0.3s;
}
.oswald-a:hover {
    border-bottom: 2px solid gold;
    font-size: 165%;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000000000;
    top: 0;
}

.bodier {
    width: 70%;
    z-index: 1000000000;
    padding-top: 25px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid grey;
    padding-bottom: 20px;
    background-color: white;
}