<div class="ae">
    <h1 class="oswalda-a">Send us an Email!</h1>
    <div class="liner"></div>
    <div class="sender">
        <div class="firs">
            <h1 class="oswalda-a">Hello there!</h1>
            <h4 class="oswalda-as">You can contact us by sending an email:</h4>
            <h4 class="oswalda-as">Or you can contact us by visiting us, or using any applications such as: Viber, Whatsapp, Messenger and so on!</h4>
        </div>
        <div class="send">
            <div class="mb-3 row">
                <label for="staticEmail" class="col-sm-2 col-form-label oswalda-as">Your Email</label>
                <div class="col-sm-10">
                  <input type="email" class="former" id="staticEmail" placeholder="your-email@gmail.com" required>
                </div>
              </div>
              <div class="mb-3 row">
                <label for="inputPassword" class="col-sm-2 col-form-label oswalda-as">Your Message</label>
                <div class="col-sm-10">
                    <textarea class="formeer"  name="message" placeholder="Say anything!" required></textarea>
                </div>
              </div>
              <div class="col-auto">
                <button type="submit" class="sub oswalda-as">Send <i class="fa-solid fa-paper-plane" style="color: #000000;"></i></button>
              </div>
        </div>
    </div>
    

    <h1 class="oswalda-a">Contact us on other Platforms</h1>

    <div class="linerr"></div>

    <div class="apps">
        <div class="ao">
            <h1 class="oswalda-a">Twitter</h1>
            <a href="https://twitter.com/"><i class="fa-brands fa-x-twitter" style="color: #000000;"></i></a>

        </div>
        <div class="ao">
            <h1 class="oswalda-a">Whatsapp</h1>
            <a href="https://whatsapp.com"><i class="fa-brands fa-whatsapp" style="color: #000000;"></i></a>

        </div>
        <div class="ao">
            <h1 class="oswalda-a">Instagram</h1>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram" style="color: #000000;"></i></a>

        </div>
        <div class="ao">
            <h1 class="oswalda-a">Viber</h1>
            <a href="https://viber.com"><i class="fa-brands fa-viber" style="color: #000000;"></i></a>

        </div>
        <div class="ao">
            <h1 class="oswalda-a">Gmail</h1>
            <a href="https://gmail.com"><i class="fa-regular fa-envelope" style="color: #000000;"></i></a>

        </div>
    </div>
    <div class="linerre"></div>



</div>