<div class="ae">
<div class="topper">
    <h1 class="oswalda-a">Welcome To StyleScape</h1>
    <h4 class="oswalda-as">We offer you the best quality and service for the best price!</h4>
</div>
<div class="womaner">
    <img class="asd" src="https://factorie.com.au/dw/image/v2/BBDS_PRD/on/demandware.static/-/Sites-catalog-master-factorie/default/dwb202a1a6/5298285/5298285-12-2.jpg?sw=640&sh=960&sm=fit" alt="">
    <img class="asd" src="https://images.urbndata.com/is/image/FreePeople/83089581_236_a/?$a15-pdp-detail-shot$&fit=constrain&qlt=80&wid=640" alt="">
    <img class="asd" src="https://faithfullthebrand.com/cdn/shop/files/S23-FFK220-BGE-23459-FaithfullTheBrand-0543.webp?v=1685698050&width=640" alt="">
</div>
<div class="linerer"><div class="liner"></div></div>
<h1 class="oswalda-a">Why us?</h1>
<div class="noner">
    <ul>
<li><h5 class="oswalda-as">We offer you the best quality clothes!</h5></li>
<li><h5 class="oswalda-as">We offer you the best service!</h5></li>
<li><h5 class="oswalda-as">The best clothes, for the best price!</h5></li>
<li><h5 class="oswalda-as">FREE Delivery on your first order!</h5></li>
    </ul>
</div>
</div>
<div class="linerer"><div class="liner"></div></div>
<div class="btns">
    <div class="h1s">
        <div class="qweqwe">
            <h1 class="oswalda-ase">Products</h1>
            <a routerLink="products">
                <img  width="200px" src="https://static.vecteezy.com/system/resources/thumbnails/003/812/649/small_2x/shopping-cart-icon-free-vector.jpg" alt="">
            </a>
        </div>
        <div class="qweqwe">
            <h1 class="oswalda-ase">About Us</h1>
            <a routerLink="aboutus">
                <img width="300px" src="https://logowik.com/content/uploads/images/call-center5180.jpg" alt="">
            </a>
        </div>
        <div class="qweqwe">
            <h1 class="oswalda-ase">Contact</h1>
            <a routerLink="contact">
                <img width="90%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTucWTVJm0Z1xkoCz5lR7CPcaZAJKi7cqwmMmndb7QXWg&s" alt="">
            </a>
        </div>
    </div>
</div>
